@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "tailwindcss";

body{
    font-family: 'Poppins', sans-serif;
    
}
.slide {
    padding: 0 10px; /* Half on each side gives 20px total gap */
  }

  .slick-slide > div {
    display: flex; /* keeps height consistent */
    justify-content: center; /* optional for centering content */
  }
  .login{
    top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
  }

